.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
  background-color: #f5f5f5;
}

a {
  text-decoration: none !important;
  color: #000;
}

.sidebarChat__info > h2 {
  font-size: 17px;
  margin-bottom: 5px;
}

.sidebarChat__info > p {
  font-size: 14px;
}
.sidebarChat__info {
  margin-left: 15px;
}
